@model IEnumerable<ExcellentTaste.Models.TableModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="tableOverviewService">

    @foreach (var item in Model)
    {

        <a href='@Url.Action("Edit", new { id = item.TableId })'>
            <div class="wrapper">
                <div class=@item.TableStatus>
                    <div class="tableTextCenter">
                        @Html.Label(item.TableId.ToString())
                    </div>
                </div>
                <div class="Delete">
                    @Html.ActionLink("Delete", "Delete", new { id = item.TableId }, htmlAttributes: new { @class = "deleteText" })
                </div>
            </div>
        </a>

    }

</div>
