body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #444444;
    color: #eeeeee;
    font-family: Bahnschrift;
}

address a,
address a:hover {
    color: #eeeeee;
}

p a,
p a:hover {
    color: #eeeeee;
}

.table tbody tr td a {
    color: #eeeeee;
}

.BTListText,
.BTListText:hover {
    color: #eeeeee;
}

.btn-save {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eeeeee;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    font-size: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableOverview {
    max-width: 100%;
}

    .tableOverview div {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        display: inline-block;
        height: 70px;
        width: 70px;
        text-align: center;
        line-height: 70px;
        font-size: 36px;
    }

.tableOverviewService div {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    font-size: 36px;
}

    .tableOverviewService div:hover {
        color: #999999;
    }

.tableTextCenter {
    text-align: center;
    margin-top: 10px;
    margin-left: 0px !important;
    max-height: 70px;
    max-width: 70px;
}

    .tableTextCenter label:hover {
        cursor: pointer;
    }

.dropdown {
    background-color: #666666;
    color: white;
}

.dropdown-selected {
    background-color: #666666;
}

#ProductList{
    color: black;
}

.Delete {
    margin-bottom: 45px !important;
    max-height: 20px !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: bottom;
}

.deleteText {
    color: #eeeeee;
}

    .deleteText:hover {
        color: #999999;
        text-decoration: none;
    }

.Bezet {
    background-color: #ff0000;
    color: #eeeeee;
}

.Vrij {
    background-color: #00ff21;
    color: #eeeeee;
}

.Gereserveerd {
    background-color: #ff6a00;
    color: #eeeeee;
}

.FoodHeadBtns {
    color: #eeeeee;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    min-width: 100px;
    font-size: 15px;
    width: 130px;
    height: 50px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.DrinkCategoryTabButton,
.FoodCategoryTabButton {
    color: #eeeeee;
    background-color: transparent;
    /*background-color: #666666;*/
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    width: 130px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.foodtable {
    /*background-color: red;*/
    height: 87px;
}

.FoodList {
    min-width: 100%;
    padding-top: 0px;
    /*background-color: red;*/
    /*align-content: flex-start;*/
}

    .FoodList tbody {
        display: block;
        width: 100%;
    }

        .FoodList tbody tr {
            display: block;
            width: 100%;
        }

            .FoodList tbody tr td {
                display: inline-block;
                width: 100%;
                border-style: solid;
                border-color: white;
                border-width: 0.5px;
            }

.SubmitDiv {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    border-width: 4px;
    font-weight: bold;
    background-color:#666666;
    padding:0px;
}

.SubmitButton {
    color: #eeeeee;
    background-color: transparent;
    display: block;
    min-width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.foodTitle {
    display: inline-block;
    width: 90%;
    float: left;
    text-align: center;
}

    .foodTitle button {
        width: 100%;
    }

.foodCount {
    display: inline-block;
    min-width:50px;
    width: 10%;
    float: right;
}

    .foodCount button {
        float: right;
    }

    .foodCount input {
        float: right;
    }
   


.productSelect {
    color: black;
}

.foodButtons {
    color: #eeeeee;
    border-style: none;
    background-color: transparent;
    max-height: 50px;
    /*width: 50%;*/
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.foodButtonsMin {
    color: #eeeeee;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    max-height: 50px;
    width: 25px;
    text-align: center;
    padding: 0px;
}

.foodButtonsCntr {
    background-color: #eeeeee;
    color: #444444;
    max-width: 25px;
    text-align: center;
    -moz-appearance: textfield;
}

    .foodButtonsCntr::-webkit-inner-spin-button,
    .foodButtonsCntr::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        margin: 0px !important;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
