@model IEnumerable<ExcellentTaste.Models.TableModel>

@{
    ViewBag.Title = "TableOverview";
}

<h2>TableOverview</h2>
<div class="tableOverview">

    @foreach (var item in Model)
    {
        <div class=@item.TableStatus>
            @Html.Label(item.TableId.ToString())
        </div>
    }
</div>
